<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Scan QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="qr-content">
  <!-- Contenedor del lector QR -->
  <div id="reader" class="reader-container"></div>

  <!-- Botón para solicitar permisos si no están otorgados -->
  <div *ngIf="!isCameraPermissionGranted" class="permissions-container">
    <ion-button expand="block" (click)="requestCameraPermission()" class="btn-permission">
      Solicitar Permisos
    </ion-button>
  </div>

  <!-- Resultado del escaneo -->
  <div *ngIf="scannerResult" class="result-container">
    <p class="scanner-result">Resultado del escáner: {{ scannerResult }}</p>
  </div>
</ion-content>



