<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre Nosotros</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Quiénes somos?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Somos **Felger SPA**, una empresa comprometida con la innovación y el desarrollo de soluciones tecnológicas de alta calidad. Fundada por estudiantes de Ingeniería en Informática del Duoc UC, sede Puente Alto, llevamos años ofreciendo servicios que marcan la diferencia en el mercado.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Visión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Convertirnos en líderes en el desarrollo de soluciones tecnológicas innovadoras, impactando positivamente la vida de las personas y el crecimiento de las empresas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Misión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ayudar a nuestros clientes a alcanzar sus objetivos mediante soluciones tecnológicas personalizadas, respaldándonos en la excelencia, la ética y la innovación.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Valores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Innovación</li>
        <li>Calidad</li>
        <li>Compromiso</li>
        <li>Ética</li>
        <li>Trabajo en equipo</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <ion-title>© 2024 Felger SPA</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>


