<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     listado de alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
    <ion-card-header>
      <ion-card-title>Datos Personales</ion-card-title>
      <ion-card-subtitle>Formulario</ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-label position="stacked" > Nombre</ion-label>
      <ion-input type="text"  [(ngModel)]="nombre" placeholder="ingrese nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" > Edad</ion-label>
      <ion-input type="number"  [(ngModel)]="edad"  placeholder="ingrese edad" max="10" min="2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >sección</ion-label>
      <ion-input type="text"  [(ngModel)]="seccion"  placeholder="ingrese seccion" max="10" min="2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Carrera</ion-label>
      <ion-select  [(ngModel)]="carrera"  placeholder="Seleccione una carrera" >
      <ion-select-option value="Informatica">Informatica</ion-select-option>
      <ion-select-option value="Analista">Analista</ion-select-option>
      <ion-select-option value="Mecánica">Mecácanica</ion-select-option>
      <ion-select-option value="Construcción civil">Construcción civíl</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block"  (click)="agregar()"  >Registrar</ion-button>
    <ion-button expand="block"  (click)="modificar()"  >Modificar</ion-button>
 </ion-card>

 <h1>Listar Alumnos</h1>
 <ion-list *ngFor="let individuo of personas">
    <ion-card>
        <ion-label> Alumno: {{individuo.nombre}}  - Edad: {{individuo.edad}} - Carrera: {{individuo.carrera}} - seccion: {{individuo.seccion}} </ion-label>
        <ion-button (click)="buscar(individuo.identificador)">Buscar</ion-button>
        <ion-button (click)="eliminar(individuo.identificador)">Eliminar</ion-button>

   
   </ion-card>

 </ion-list>
</ion-content>
